body {
  font-size: $font_size_base;
  font-family: $font_type_primary;
  color: $color_copy;
  background-color: $color_light;
}

h1,
h2 {
  padding: 0;
  margin: 0 0 10px;
  font-weight: 700;
}

h1 {
  @include single-transition(font-size, 0.5s, ease);
  line-height: 2;
  font-size: 2em;
  color: $color_one;

  .stage-start & {
    font-size: 3em;
  }
}

h2 {
  font-size: 2em;
  color: $color_three;
}

iframe {
  @include box-sizing(border-box);
  position: absolute;
  left: 52%;
  border: 1px solid lighten($color_copy, 50%);
  width: 48%;
  height: calc(100vh - 450px);

  &:first-child {
    left: 0;
    margin-right: 4%;
  }

  .zoom-50 & {
    @include transform(scale(0.5));
    @include transform-origin(0, 0);
    width: 96%;
    height: calc(200vh - 900px);
    border-width: 2px;
  }

  .zoom-75 & {
    @include transform(scale(0.75));
    @include transform-origin(0, 0);
    width: 64%;
    height: calc(133.33vh - 600px);
  }
}

p {
  font-size: 1em;
  line-height: 1.5;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 2;
}

em {
  color: lighten($color_copy, 25%);
}

code {
  font-family: $font_type_code;
  display: block;
  margin-bottom: 5px;
  padding: 4px 6px;
  border: 1px solid rgba($color_copy, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-size: 0.95em;
  line-height: 1.5;
  background-color: lighten($color_light, 0.9);

  &.a {
    color: $color_two;
  }
  &.b {
    color: $color_three;
  }
  &.c {
    color: $color_four;
  }
  &.removed {
    text-decoration: line-through;
  }
}

.side-by-side code {
  flex: 1;

  &:not(:first-child) {
    margin-left: 5px;
  }
}

code span[data-src]:hover::after {
  content: attr(data-selector) " (" attr(data-src) ")";
  color: #eee;
  background-color: #444;
  border-radius: 4px;
  font-size: .8em;
  padding: .2em 0.6em;
}

button {
  outline: none;
}
