#iframes {
  @include clearfix();
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  height: calc(100vh - 450px);

  .stage-start & {
    display: none;
  }
}

#response {
  padding-top: 40px;
  border-top: 1px solid rgba($color_copy, 0.1);
  @include single-transition(opacity, 1s, ease);

  .stage-start & {
    opacity: 0;
  }
}

#response-highlights {
  color: $color_copy;
  @include single-transition(color, 0s);

  .loading & {
    color: lighten($color_copy, 50%);
  }

  .errors & {
    color: $color_one;
  }
  .identical & {
    color: $color_three;
  }
}

.added {
  font-weight: 700;
}
