#pages {
  @include clearfix;

  .container {
    float: left;
    width: 48%;
    overflow: hidden;
  }
}

#loading {
  height: 60px;
  line-height: 60px;
  width: 4%;
  float: left;
  font-size: 2vw;
  color: $color_one;
  text-align: center;
  opacity: 0;
  @include single-transition(opacity, 0.25s, ease);

  .loading & {
    opacity: 1;
  }
}

input,
button {
  padding: 10px 14px;
  font-size: 2em;
  margin: 0;
}

.pages-input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  @include box-sizing(border-box);

  &:focus {
    border-color: #666;
  }

  &::-webkit-input-placeholder {
    opacity: 0.6;
  }
}

#page-a {
  color: $color_two;
}

#page-a::-webkit-input-placeholder {
  color: $color_two;
}

#page-b {
  color: $color_three;
}

#page-b::-webkit-input-placeholder {
  color: $color_three;
}

#do-compare,
#do-start-over,
#settings-toggle {
  margin-top: 10px;
  border: none;
  cursor: pointer;

  &.disabled {
    opacity: 0.75;
  }
}

#do-compare {
  color: $color_light;
  background-color: $color_one;

  &:not(.disabled):hover {
    background-color: lighten($color_one, 2%);
  }
}

#do-start-over {
  background-color: $color_two;
  color: $color_light;

  &:not(.disabled):hover {
    background-color: lighten($color_two, 2%);
  }
}

#settings-toggle {
  position: relative;
  color: lighten($color_copy, 30%);
  background-color: darken($color_light, 12%);

  &:hover {
    background-color: darken($color_light, 8%);
  }

  &.open,
  &:hover.open {
    background-color: darken($color_light, 8%);

    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: -4px;
      border-bottom: 4px solid darken($color_light, 8%);
    }
  }
}

#settings {
  @include clearfix();
  margin-top: 4px;
  background-color: darken($color_light, 8%);
  display: none;
  color: lighten($color_copy, 20%);

  .help {
    color: lighten($color_copy, 60%);
    &:hover {
      color: lighten($color_copy, 30%);
    }
  }

  .open + & {
    display: block;
  }

  label {
    font-weight: 700;
  }

  .option {
    @include box-sizing(border-box);
    overflow: hidden;
    width: 33%;
    padding: 20px;
    float: left;

    &.not-implemented {
      opacity: 0.5;
    }

    &.full-width {
      clear: left;
      width: 100%;
    }
  }

  input[type="text"],
  textarea,
  select {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    margin: 3px 0;
  }

  textarea {
    height: 150px;
    font-family: $font_type_code;
  }
}
