#iframes {
  display: none;

  .mode-continuous .with-response & {
    @include clearfix();
    display: block;
    margin-top: 40px;
  }
}

#response {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid rgba($color_copy, 0.1);
  opacity: 0;
  @include single-transition(opacity, 1s, ease);

  .with-response & {
    opacity: 1;
  }
}

#response-highlights {
  color: $color_copy;
  @include single-transition(color, 0s);

  .errors & {
    color: $color_one;
  }
  .identical & {
    color: $color_three;
  }
}

.added {
  font-weight: 700;
}
